/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Basic styles
 */
a {
  color: #4b94f2;
  text-decoration: none;
  font-family: proxima-nova, sans-serif;
  font-weight: 400; }

@media (min-width: 1200px) {
  .width-wrapper {
    max-width: 1366px;
    padding-right: 95px;
    padding-left: 95px;
    margin-left: auto;
    margin-right: auto; } }

.--round-border {
  border-radius: 0.6rem; }

/**
 * Basic typography style for copy text
 */
h1 {
  font-family: sofia-pro, sans-serif;
  color: #6566cc;
  font-weight: 900; }

h3 {
  font-family: sofia-pro, sans-serif;
  color: #4b94f2;
  font-weight: 600; }

p {
  font-family: proxima-nova, sans-serif;
  color: #000;
  font-weight: 400; }

/**
 * Footer styling
 */
.footer {
  background-color: #4b94f2;
  font-family: proxima-nova, sans-serif;
  color: azure; }
  .footer .footer__text {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding: 15px 15px 15px 0px; }
    .footer .footer__text p {
      margin-bottom: 0px;
      color: azure; }
  .footer .footer__made-by {
    display: flex;
    align-items: flex-end;
    justify-content: space-around; }
    .footer .footer__made-by p {
      color: azure; }
  .footer .footer__social-icons {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem; }

/**
 * NavBar style
 */
.navbar-nav li {
  border-right: 1px solid #646364ab; }

.navbar-nav li:last-child {
  border-right: 0px; }

.navbar-nav a {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  color: #4b94f2 !important;
  padding: -0px 15px 0px 15px; }

.navbar-brand {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-left: 5% !important; }
  .navbar-brand img {
    width: 80%; }

/**
 * info styling
 */
/**
 * Section servicios style
 */
.section-servicios {
  background-color: rgba(234, 236, 234, 0.4);
  border-radius: .6rem;
  margin: 40px 0px 40px 0px; }
  @media (min-width: 0px) and (max-width: 768px) {
    .section-servicios {
      margin-left: 2.2rem;
      margin-right: 1.8rem;
      margin-top: 1.8rem;
      background: #fff;
      box-shadow: #F9C80E 0px 0px 0px 2px inset, white 10px -10px 0px -3px, #f9c80e 10px -10px;
      transition: box-shadow 0.3s ease-in-out;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 28px;
      padding-left: 30px;
      padding-right: 30px;
      height: 15.3rem; }
      .section-servicios .my-4 {
        display: none; }
      .section-servicios .section-servicios__btn {
        display: none; } }
  .section-servicios .section-servicios__title {
    font-family: sofia-pro, sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: #6566cc;
    padding-top: 2.6rem;
    margin: 0%; }
    @media (min-width: 0px) and (max-width: 768px) {
      .section-servicios .section-servicios__title {
        font-family: sofia-pro, sans-serif;
        font-weight: 500;
        font-size: 30px;
        line-height: 33px;
        /* or 112% */
        color: #6566cc; } }
  .section-servicios .section-servicios__text {
    font-family: proxima-nova, sans-serif;
    padding-top: 1rem;
    padding-bottom: 2rem; }
    @media (min-width: 0px) and (max-width: 768px) {
      .section-servicios .section-servicios__text {
        width: 80%;
        font-family: proxima-nova, sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1rem;
        /* or 100% */
        color: #4B94F2; } }
  .section-servicios strong {
    font-family: sofia-pro, sans-serif;
    color: #4b94f2;
    font-weight: 400; }
  .section-servicios .section-servicios__btn {
    margin-bottom: 20px; }

/**
 * Jumbotron custom style
 */
@media (min-width: 0px) and (max-width: 768px) {
  .jumbotron {
    margin-left: 2.2rem;
    margin-right: 1.8rem;
    margin-top: 2.8rem;
    background: #E9ECEF;
    box-shadow: 1rem -1rem #6592F8;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 28px;
    height: 22rem;
    align-items: center; } }
  @media (min-width: 0px) and (max-width: 768px) and (max-width: 700px) {
    .jumbotron {
      filter: drop-shadow(0.5rem 4px 4px rgba(0, 0, 0, 0.25)); } }

.mainHello .mainHello__title {
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 900; }
  @media (min-width: 0px) and (max-width: 768px) {
    .mainHello .mainHello__title {
      font-size: 2.5rem;
      line-height: 2.5rem;
      /* or 100% */
      letter-spacing: -1px; } }

.mainHello .mainHello__sub {
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  color: #4b94f2; }
  @media (min-width: 0px) and (max-width: 768px) {
    .mainHello .mainHello__sub {
      padding-top: 1rem;
      font-size: 1rem;
      line-height: 1rem;
      padding-right: 2rem;
      padding-top: 1.5rem;
      padding-bottom: 2rem; } }

@media (min-width: 0px) and (max-width: 768px) {
  .mainHello .mainHello__text {
    display: none; } }

@media (min-width: 0px) and (max-width: 768px) {
  .mainHello .btn-container {
    display: flex;
    justify-content: center; } }

@media (min-width: 0px) and (max-width: 768px) {
  .mainHello .my-4 {
    display: none; } }

.mainHello__img {
  padding: 0px !important; }
  @media (min-width: 0px) and (max-width: 768px) {
    .mainHello__img {
      display: none; } }

.--round-border-right {
  border-top-right-radius: 0.6rem !important;
  border-bottom-right-radius: 0.6rem !important; }

.--round-border-left {
  border-top-left-radius: 0.6rem !important;
  border-bottom-left-radius: 0.6rem !important; }

/**
 * Card info style
 */
.info {
  padding: 15px 15px 25px 0px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .info .info__container {
    padding: 0px 20px 0px 0px; }
  .info .info__icon {
    font-size: 4rem;
    text-align: center;
    color: #6566cc;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
  .info .info__title {
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #f9c80e;
    padding: 0 0 10px;
    margin-bottom: 20px;
    border-bottom: 2.5px solid #d7d7d7; }
  .info a {
    color: #000;
    text-decoration: none;
    transition: 0.5s ease-out; }
  .info a:hover {
    color: #4b94f2;
    transition: 0.3s ease-in; }
  .info .info__description {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    margin-bottom: 20px; }

.info {
  margin: 0px; }
  @media (max-width: 700px) {
    .info {
      display: flex;
      flex-direction: row;
      margin-left: 1.8rem;
      margin-right: 1.8rem;
      margin-top: 1.8rem;
      background: #fff;
      transition: box-shadow 0.3s ease-in-out;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 28px;
      padding-left: 30px;
      padding-right: 30px;
      align-items: center; }
      .info .info__container {
        padding: 0px; }
      .info .info__icon {
        font-size: 2.5rem;
        color: #6566cc;
        vertical-align: middle;
        padding: 2rem 0rem 2rem 0rem; }
      .info .info__title {
        border: none;
        margin: 0px;
        padding: 0rem 0rem 0rem 1rem; }
        .info .info__title a {
          font-family: sofia-pro, sans-serif;
          font-weight: 400;
          font-size: 1.25rem;
          line-height: 1.25rem;
          /* or 107% */
          color: #4b94f2; }
      .info .info__description {
        display: none; }
      .info .mas__button {
        display: none; } }

/**
 * Card servicios style
 */
.card-servicios {
  padding: 40px 0px; }
  .card-servicios .info__beneficios {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px; }
  .card-servicios p {
    margin-bottom: 0px;
    font-size: 14px; }
  .card-servicios i {
    color: lightgreen;
    font-size: 24px;
    padding-right: 10px; }

/**
 * Card Proyectos style
 */
.card-proyectos {
  padding: 40px 0px;
  height: 300px;
  border-radius: .6rem;
  margin: 20px 0px;
  transition: 0.5s ease-out; }
  .card-proyectos:hover {
    height: 390px;
    transition: 0.5s ease-in; }
  .card-proyectos .info__title {
    font-size: 35px; }
  .card-proyectos .info__title a {
    color: #d7d7d7; }
  .card-proyectos .info__description {
    color: #d7d7d7; }

.card-proyectos--barber {
  background-image: url(https://images.unsplash.com/photo-1585747860715-2ba37e788b70?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.card-proyectos--simplify {
  background-image: url(https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.card-proyectos--HRMS {
  background-image: url(https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.--dodgerBlue {
  color: #4b94f2 !important; }

.--jonquilYellow {
  color: #f9c80e !important; }

.--btn-yellow-transition {
  background-color: #f9c80e;
  border-color: #f9c80e;
  font-family: proxima-nova, sans-serif;
  color: #000;
  transition: all 0.3s ease 0s;
  margin-top: 1.5rem; }
  .--btn-yellow-transition:hover {
    background-color: #4b94f2;
    border-color: #4b94f2;
    box-shadow: 0px 15px 20px rgba(107, 110, 109, 0.4);
    color: #fff;
    transform: translateY(-5px);
    transition: all 0.3s ease 0s; }

.texto-error .texto-error__404 h1 {
  font-size: 150px;
  text-align: center; }

.texto-error .texto-error__leyenda {
  text-align: center; }

.img-error {
  height: 450px;
  margin: 0px;
  padding: 0px;
  background-color: #4b94f2; }
  .img-error a {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px; }
  .img-error .img404 {
    width: 80%;
    transition: 0.5s ease-out; }

.img404:hover {
  width: 90%;
  transition: 0.5s ease-in; }
