<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- SEO -->
  <meta name="description" content="Empresa de software y diseño. Soluciones a medida para marcas, pymes y emprendedores.">
  <meta name="keywords" content="desarrollo software app web mobile santa fe pagina web a medida pymes emprendimiento emprendedores diseño branding">
  <title>Nuestros servicios | Simplify</title>
  <!-- Favicon link -->
  <link rel="icon" href="assets/img/favicon.png" sizes="16x16" type="image/png">
  <!-- Bootstrap link -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <!-- Link a proyect de adobefonts -->
  <link rel="stylesheet" href="https://use.typekit.net/bve3bud.css"/>
  <!-- Link AOS-->
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
  <!-- MY CSS!!!!!!!!!!! -->
  <link rel="stylesheet" href="../css/style.css"/>
  <!-- Link fontasowme -->
  <script src="https://kit.fontawesome.com/1bf7aa02c7.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Boostrap navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="../index.html"><img src="../assets/img/simplifyWebDisplay-02.png"
        alt="simplify logo & logotype" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="container justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../views/servicios.html">Servicios<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Proyectos</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../views/proyectos.html">Barbershop</a>
              <a class="dropdown-item" href="../views/proyectos.html">Simplify Brand</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../views/proyectos.html">Nuestros proyectos</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../views/nosotros.html">Nosotros<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../views/contacto.html">Contacto<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Section servicios -->
  <div class="container-fluid width-wrapper">
    <!-- Section title -->
    <div class="row">
      <div class="col-lg-12 section-servicios">
        <h3 class="section-servicios__title">
          Servicios
        </h3>
        <hr class="my-4">
        <p class="section-servicios__text">
          Digitalizar tu startup jamas fue tan facil. Nuestro equipo se basa en las mejores practicas a nivel global, para que explotes a nivel local.
        </p>
        <a class="btn btn-primary btn-md section-servicios__btn" href="../views/contacto.html" role="button">Contactanos</a>
      </div>
    </div>
    <!-- Inicio cards de servicios -->
    <div class="row card-servicios">
      <div class="col-lg-7">
        <div class="info">
          <div class="info__container">
            <h3 class="info__title">
              <a class="" title="" href="LINK">Custom software development</a>
            </h3>
            <p class="info__description">Ofrecemos soluciones personalizadas de software que proveen valor y rentabilidad. Desarrollamos software web y mobile con tecnologías React and React Native.</p>
            <div class="info__beneficios">
              <i class="fas fa-check-circle"></i>
              <p>Software a medida para tu negocio.</p>
            </div>  
            <div class="info__beneficios">
              <i class="fas fa-check-circle"></i>
              <p>Software a medida para tu negocio.</p>
            </div>  
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="img-servicios-card">
          <img src="https://images.unsplash.com/photo-1519241047957-be31d7379a5d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Desarrolladores trabajando" class="img-fluid --round-border">
        </div>
      </div>
    </div>
    <div class="row card-servicios">
      <div class="col-lg-7">
        <div class="info">
          <div class="info__container">
            <h3 class="info__title">
              <a class="" title="" href="LINK">Soluciones e-commerce</a>
            </h3>
            <p class="info__description">Ofrecemos soluciones personalizadas de software que proveen valor y rentabilidad. Desarrollamos software web y mobile con tecnologías React and React Native.</p>
            <div class="info__beneficios">
              <i class="fas fa-check-circle"></i>
              <p>Software a medida para tu negocio.</p>
            </div>  
            <div class="info__beneficios">
              <i class="fas fa-check-circle"></i>
              <p>Software a medida para tu negocio.</p>
            </div>  
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="img-servicios-card">
          <img src="https://images.unsplash.com/photo-1563013544-824ae1b704d3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="persona ingresando datos a un e-commerce" class="img-fluid --round-border">
        </div>
      </div>
    </div>
    <div class="row card-servicios">
      <div class="col-lg-7">
        <div class="info">
          <div class="info__container">
            <h3 class="info__title">
              <a class="" title="" href="LINK">Web branding</a>
            </h3>
            <p class="info__description">Ofrecemos soluciones personalizadas de software que proveen valor y rentabilidad. Desarrollamos software web y mobile con tecnologías React and React Native.</p>
            <div class="info__beneficios">
              <i class="fas fa-check-circle"></i>
              <p>Software a medida para tu negocio.</p>
            </div>  
            <div class="info__beneficios">
              <i class="fas fa-check-circle"></i>
              <p>Software a medida para tu negocio.</p>
            </div>  
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="img-servicios-card">
          <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Desarrolladores trabajando" class="img-fluid --round-border">
        </div>
      </div>
    </div>
  </div>
  <!-- Footer! -->
  <div class="container-fluid footer">
    <div class="row width-wrapper">
      <div class="col-lg-4 col-sm-12 footer__text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit accusamus
          maiores vero voluptatum! Sunt quae aliquid eligendi illo sequi esse?
        </p>
      </div>
      <div class="col-lg-4 col-sm-12 footer__made-by">
        <p>Simplify 2021&copy;</p>
      </div>
      <div class="col-lg-4 col-sm-12 footer__social-icons">
        <span><i class="fab fa-twitter fa-3x"></i></i></span>
        <span><i class="fab fa-behance fa-3x"></i></span>
        <span><i class="fab fa-linkedin-in fa-3x"></i></span>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>