//Styling for servicios page

.servicios {
    background-color: #f9f9f9;
    background-image:  linear-gradient(135deg, #FBD960 25%, transparent 25%), linear-gradient(225deg, #FBD960 25%, transparent 25%), linear-gradient(45deg, #FBD960 25%, transparent 25%), linear-gradient(315deg, #FBD960 25%, #f9f9f9 25%);
    background-position:  40px 0, 40px 0, 0 0, 0 0;
    background-size: 80px 80px;
    background-repeat: repeat;
}