// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/**
 * Footer styling
 */

.footer {
  background-color: $brand-dodgerBlue;
  font-family: $proxima-nova;
  color: azure;

  .footer__text {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding: 15px 15px 15px 0px;

    svg {
      width: 30%;
      color: azure;
    }
    
    p {
      margin-bottom: 0px;
      color: azure;
    }
  }
 
 
  .footer__social-icons {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
  }
}
