/**
 * Cards que se muestran en el Home 
 */

 .cardHome {

    @include desktop-break {


        box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
        background-color: hsla(120, 5%, 92%, 1);
        border-radius: 1.75rem;
        margin: 40px 0px 40px 0px;
        height: auto;
        position: relative;
        padding: 2rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
    

        &:after {
        background-color: $brand-jonquilYellow;
        border-radius: 1.75rem;
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(0px, 0px);
        transition: transform .2s ease-out;
        z-index: -1;
        }

        
        &:hover:after {
        transform: translate(8px, 8px);
        // box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
        }
    }    

    @include mobile-break{
        margin-left: 2.2rem;
        margin-right: 1.8rem;
        margin-top: 1.8rem;
        background: #fff;
        box-shadow: #F9C80E 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(249, 200, 14) 10px -10px, ;
        transition: box-shadow 0.3s ease-in-out;
        //filter: drop-shadow(0.25rem 0.25rem 0.5rem rgb(156, 156, 156));
        @include drop-shadowDown;
        border-radius: 1.75rem;
        padding: 2.6875rem 0rem 1.75rem 1.75rem;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .my-4 {
            display: none;
        }



        .cardHome__btn {
            display: flex;
            justify-content: center;
            padding-bottom: 1rem;
            margin: 0px;

        }
    }

    
    .cardHome__container {

        

        @include desktop-break {
            width: 60%;
        }

        @include mobile-break {
            padding: 0rem 0rem;
        }

        .cardHome__container__title {
            font-family: $sofia-pro;
            font-weight: $regular;
            font-size: 1.875rem;
            color: $brand-violet;
            margin: 0%;

            @include mobile-break {

                font-family: $sofia-pro;
                font-weight: $medium;
                font-size: 30px;
                line-height: 33px;
                color: $brand-violet;

                padding-bottom: 1rem;
                
            }
        }

        .cardHome__container__text {

            font-family: $proxima-nova;
            
            @include mobile-break {
                width: 80%;
                font-family: $proxima-nova;
                font-weight: $regular;
                font-size: 1rem;
                line-height: 1rem;
                /* or 100% */
                color: #4B94F2;
            }
        }
    }  

        strong {
            font-family: sofia-pro, sans-serif;
            color: #4b94f2;
            font-weight: 400;
    } 

    .cardHome__btn {

        @include desktop-break {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 20px;
            width: auto;
        }

        a {
            width: auto;
            font-size: 1.2rem;
        }
    }

    .cardHome__emoji {
        font-size: 5rem;
        text-align: center;
        width: 30%;
        padding: 0px;
        margin: 0px;

        @include mobile-break {
            font-size: 3rem;
        }

    }

}