/**
 * Card info style
 */

.info--large {

    @include desktop-break {

        display: flex;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        background: #E9ECEF;
        transition: box-shadow 0.3s ease-in-out;
        @include drop-shadowDown;
        border-radius: 28px;
        align-items: center;
        padding: 1rem;
        height: auto;



        .info__container {
            padding: 0px 20px 0px 0px;
            width: 70%;
        }

        .info__icon {
            font-size: 3rem;
            padding: 0.5rem 0rem 0.5rem 0rem;
            text-align: center;
            color: $brand-violet;
            @include drop-shadowDown;
        }

        .info__title {
            font-family: $sofia-pro;
            font-weight: $semibold;
            font-size: 24px;
            color: $brand-jonquilYellow;
            padding: 0 0 10px;
            margin-bottom: 20px;
            border-bottom: 2.5px solid #d7d7d7;
        }

            a {
                color:$brand-violet;
                text-decoration: none;
                transition: 0.5s ease-out;
            }

            a:hover{
                color: #4b94f2;
                transition: 0.3s ease-in; 
            }

        .info__description {
            font-family: $proxima-nova;
            font-weight: $regular;
            font-size: 14px;
            line-height: 20px;
            color: #000;
            
        }

        .info__beneficios {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 1rem;
            margin-bottom: 1rem;

            i {
                color: $brand-dodgerBlue;
                font-size: 1.2rem;
            }
            
            p {
                margin: 0;
                padding-left: 1rem;
            }

        }

        .info__img {
            width: 70%;
            padding: 1rem 1rem;
        }

        .my-4 {
            display: none;
        }
    }
}