/**
 * Jumbotron custom style
 */

.jumbotron {

    @include desktop-break{

        position: relative;
        overflow: hidden;
        background-color:black;
        padding: 0rem;

        .heroVideo {
            position: absolute;
            z-index: 1;
            top: 0;
            width:100%;
            height:100%;
            object-fit: cover;
            opacity:0.3;
        }

        .heroContainer {
            z-index: 2;
            position: relative;
            padding-top: 5rem;
            padding-bottom: 3rem;
        }   
    }

    @media (min-width: 0px) and (max-width: 768px ) {
        margin-left: 2.2rem;
        margin-right: 1.8rem;
        margin-top: 2.8rem;
        background: #E9ECEF;
        box-shadow: 1rem -1rem #6592F8;
        transition: box-shadow 0.3s ease-in-out;
        //filter: drop-shadow(0.25rem 0.25rem 0.5rem rgb(156, 156, 156));
        @include drop-shadow;
        border-radius: 28px;
        height: auto;
        align-items: center;

        .heroVideo {
            display: none;
        }
    }

    
}



.mainHello{


    @include desktop-break {
        padding: 3rem 0rem 3rem 0rem;
    }

    .mainHello__title{
    font-family: $sofia-pro;
    font-style: normal;
    font-weight: $black;
    color: $brand-dodgerBlue;
    font-size: 4.5rem;
    line-height: 4.5rem;
    @include drop-shadowDown;
    //uncomment to use text-shadow mixin

        @media (min-width: 0px) and (max-width: 768px ) {
            font-size: 2.5rem;
            line-height: 2.5rem;
            /* or 100% */
            letter-spacing: -1px;
            
        }
    }

    .mainHello__sub{

        @include desktop-break {
            font-family: $proxima-nova;
            font-weight: $medium;
            color: #E9ECEF;
            width: 70%;
            padding-top: 1.5rem;
        }    
        // @include drop-shadowDown;
        //uncomment to use drop-shadow mixin

        @media (min-width: 0px) and (max-width: 768px ) {
            padding-top: 1rem;
            font-size: 1rem;
            line-height: 1rem;
            padding-right: 2rem;
            padding-top: 1.5rem;
            padding-bottom: 2rem;
        }
    }

    .mainHello__text {
        @media (min-width: 0px) and (max-width: 768px ) {
            display: none;
        }
    }

    .btn-container {
        @media (min-width: 0px) and (max-width: 768px ) {
            display: flex;
            justify-content: center;
        }
    }

    .my-4 {
        @media (min-width: 0px) and (max-width: 768px ) {
            display: none;
        }
    }

}

.mainHello__vid {
    display: flex;
    transform: scale(1.1);
    justify-content: center;
    align-items: center;
    @include drop-shadow;

    @media (min-width: 0px) and (max-width: 768px ) {
        display: none;
    }
}

.--round-border-right {
    border-top-right-radius: 0.6rem!important;
    border-bottom-right-radius: 0.6rem!important;
}

.--round-border-left {
    border-top-left-radius: 0.6rem!important;
    border-bottom-left-radius: 0.6rem!important;
}