/**
 * Basic typography style for copy text
 */

h1 {
  font-family: $sofia-pro;
  color: $brand-violet;
  font-weight: $black;
}

h3 {
  font-family: $sofia-pro;
  color: $brand-dodgerBlue;
  font-weight: $semibold;
}

p {
  font-family: $proxima-nova;
  color: #000;
  font-weight: $regular;
}