// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin background-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin width-wrapper {
    @media (min-width: 1200px) {
    max-width: 1366px;
    padding-right: 95px;
    padding-left: 95px;
    margin-left: auto;
    margin-right: auto;
    }
}

//Mixin to include on jumbotron mobile

@mixin drop-shadow {
    @media (max-width: 700px) {
    filter: drop-shadow( 0.5rem 4px 4px rgba(0, 0, 0, 0.25));
    }
}

@mixin drop-shadowDown {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@mixin text-shadow {
    @media (max-width: 700px) {
        text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

//Mobile breakpoint

@mixin mobile-break {
    @media (max-width: 700px) { @content }
}